@media (max-width: 1100px) {
   .promo {
      &__heading {
         font-size: calc(44px + 12 * ((100vw - 769px) / (1110 - 769)));
         align-self: center;
      }
      &__text {
         font-size: calc(14px + 1 * ((100vw - 769px) / (1110 - 769)));
         line-height: calc(22px + 4 * ((100vw - 769px) / (1110 - 769)));
      }
   }
   .news {
      &__item {
         gap: 15px;
      }
      &__number {
         font-size: 30px;
      }
      &__title {
         font-size: 17px;
      }
   }
}
@media (max-width: 992px) {
   .promo {
      &__text {
         align-self: center;
      }
      &__button {
         width: 178px;
         height: 42px;
         & a {
            font-size: 13px;
         }
      }
   }
   .front {
      &__grid {
         grid-template-rows: minmax(100px, 300px) minmax(100px, auto);
         gap: 20px;
      }
      &__promo {
         row-gap: 20px;
      }
   }

   .aside {
      padding: 25px 24px 35px;
      &__heading {
         font-size: calc(32px + 8 * ((100vw - 576px) / (1110 - 576)));
         margin-bottom: calc(16px + 18 * ((100vw - 576px) / (1110 - 576)));
      }
      .new {
         &__title {
            font-size: calc(17px + 3 * ((100vw - 576px) / (1110 - 576)));
            line-height: calc(22px + 2 * ((100vw - 576px) / (1110 - 576)));
            // margin-bottom: calc(6px + 2 * ((100vw - 576px) / (1110 - 576)));
         }
         &__text {
            font-size: calc(13px + 2 * ((100vw - 576px) / (1110 - 576)));
            line-height: calc(19px + 7 * ((100vw - 576px) / (1110 - 576)));
            // margin-bottom: calc(20px + 9 * ((100vw - 576px) / (1110 - 576)));
         }
         // &__hr {
         // margin-bottom: 0;
         // display: none;
         // }
      }
   }
   .news {
      &__item {
         gap: 13px;
      }
      &__number {
         font-size: 23px;
      }
      &__title {
         font-size: 17px;
      }
      &__content {
         font-size: 14px;
         line-height: 23px;
      }
   }
}
@media (max-width: 768px) {
   .promo {
      grid-template-columns: minmax(200px, 730px);
      grid-template-rows: minmax(81px, auto) minmax(48px, auto);
      &__heading {
         grid-row: 1/2;
         // align-self: start;
      }

      &__text {
         grid-row: 2/3;
         // font-size: 15px;
         // line-height: 26px;
         // color: $color-textDarkGrey;
         // align-self: start;
      }

      &__button {
         grid-column: 1/2;
         grid-row: 3/4;
         justify-self: end;
      }
   }
   // .front {
   //    &__grid {
   //       grid-template-rows: minmax(100px, 300px) minmax(100px, auto);
   //    }
   // }
   .aside {
      padding: 20px 24px 25px;
      & .new {
         &__hr {
            margin-top: 15px;
            margin-bottom: 15px;
         }
      }
   }
}
@media (max-width: 576px) {
   .front {
      &__grid {
         grid-template-columns: minmax(200px, 730px);
         grid-template-rows: minmax(100px, 300px) minmax(100px, auto) minmax(100px, auto);
         gap: 40px;
      }
      &__aside {
         grid-column: 1/2;
         grid-row: 3/4;
      }
   }
   .promo {
      width: 400px;
      margin: auto;
      &__heading {
         font-size: 45px;
         text-align: center;
      }
      &__text {
         font-size: 15px;
         text-align: center;
         margin-bottom: 10px;
      }
      &__button {
         justify-self: center;
      }
   }
   .aside {
      &__heading {
         align-self: center;
         margin-bottom: 23px;
      }
   }
}
@media (max-width: 470px) {
   .promo {
      width: 330px;
      &__heading {
         font-size: 44px;
      }
      &__text {
         font-size: 14px;
      }
      &__button {
      }
   }
}
@media (max-width: 400px) {
   .promo {
      width: 275px;
      &__heading {
         font-size: 43px;
      }
      &__text {
         font-size: 13px;
      }
      &__button {
      }
   }
}
