.header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 55px;
   width: 100%;
}
.menu {
   &__row {
      width: 431px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
      & a {
         color: $color-textDarkGrey;
         &:hover {
            color: $color-red;
         }
      }
   }
}
